[submodule "docs/svg-pan-zoom"]
	path = docs/svg-pan-zoom
	url = https://github.com/WebSVG/svg-pan-zoom
[submodule "firmware/pico-sdk"]
	path = firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/pico-ssd1306"]
	path = firmware/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306/
